<div>
  <form name="signUpForm">
    <!-- username input-->
    <input name="username" ng-model="user.name" placeholder="Nombre de Usuario" required/>
    <!-- password input -->
    <input name="password" ng-model="user.password" type="password" id="userPassword" placeholder="contrasena" required/>

  <!-- submmit button -->    
    <button ng-click="signup()" ng-disabled="signForm.$invalid">Signup</button>
    <a href="#/login">Already have an account?<strong>Signin</strong></a> 
  </form>
</div>